<p align="center">
  <font size="4" face="Tahoma">ESL Student Evaluation of Instruction</font>
</p>
<p align="center">
  <font size="2" face="Tahoma">
    <b>&nbsp;&nbsp;&nbsp; </b>
  </font>
</p>

<table width="100%" id="table1" style="border-collapse: collapse">
  <tr align=center>
    <td width="100%">
      <font face="Tahoma" size="2">
        <b *ngIf="currSemester != null">Semester/Year: {{currSemester.semesterName}}/{{currSemester.acaYear}}</b>
      </font>
    </td>
  </tr>
</table>

<table border="1" width="100%" id="table1" bordercolorlight="#000000" bordercolordark="#000000" style="border-collapse: collapse">
  <thead>
    <tr>
      <th width="46">
        <font face="Tahoma" size="2">
          <b>No.</b>
        </font>
      </th>
      <th width="376">
        <font face="Tahoma" size="2">
          <b>Instructor</b>
        </font>
      </th>
      <th width="153">
        <font face="Tahoma" size="2">
          <b>Class</b>
        </font>
      </th>
      <th>
        <font face="Tahoma" size="2">
          <b>Status</b>
        </font>
      </th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let seoi of listOfClassSEOI; let i = index">
      <td>{{i+1}}</td>
      <td>{{seoi.instructorName}}</td>
      <td>{{seoi.className}}</td>
      <td><a [ngStyle]="{'color':textColor(seoi.status), 'cursor': 'pointer'}" (click)="navigateToEvaluation(seoi.status, seoi.classID, seoi.teacherID)"><b>{{seoi.status}}</b></a></td>
    </tr>
  </tbody>
</table>