<div class="row">
  <div class="col-md-12">
    <div class="card" style="border-radius: 0.3rem">
      <div class="card-header">
        <h4 class="card-title" style="display: inline-block">
          <b>Timetable</b> of <span style="color: rgba(8, 151, 27, 0.877)">{{semesterName}}</span> semester in {{academicYear}}
        </h4>
      </div>
      <div class="card-body p-3" style="padding:8rem;">
        <div class="row m-1">

          <div class="col-md-3 col-12 justify-content-center">
            <div class="row p-2">
                <h3>From:</h3>
              <form #myForm="ngForm" novalidate>
                <my-date-picker name="beginDate" [options]="DateOptions" (dateChanged)="onBeginDateChanged($event)" [(ngModel)]="modelBegin"
                  required></my-date-picker>
              </form>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 col-12  justify-content-centert">
            <div class="row p-2">          
              <form #myForm="ngForm" novalidate>
                  <h3>To:</h3>
                <my-date-picker name="endDate" [options]="DateOptions" (dateChanged)="onEndDateChanged($event)"[(ngModel)]="modelEnd"
                ></my-date-picker>
              </form>
            </div>
          </div>
          <div class="col-12">
            <div class="row flexrow justify-content-center p-3">
              <table class="table table-bordered table-responsive" id="datatable" width="100%" style="border-radius: 0.3rem">
                <tbody>
                  <tr *ngFor="let day of dayOfWeek;let i=index">
                    <td width="10%">
                      <strong>{{dayName[i]}}</strong>
                    </td>
                    <td>
                      <ul *ngFor="let detail of day" style="list-style-type:circle;display: inline-block">
                        <li>
                          <h5 style="color: darkred">{{detail.time}} </h5>{{detail.classID}} {{detail.room}}</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>