#loadingImg
{
    width:5%;
    height:100%;
}

table
{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(119, 119, 119);
 }

#header
{
    background:rgb(187, 223, 253);
}
th
{
    text-align: center;  
    height:2.5rem; 
}

tr
{
    height:2.2rem
}

td
{
    text-align: center;
}
