
<div class="row">
  <div class="col-md-12">
  <div class="card"> 
      <div class="card-header ">
        <h4 class="card-title">
          <b class="text-info">Enrichment Registration</b>
        </h4>
      </div>
      <div class="card-body p-3" style="padding:8rem;">
        <div class="row">
          <div class="col-md-5">
          <div class="row flexrow justify-content-center no-gutters">
            <div class="col d-flex ">Semester/Year: 
              <span  style="padding:-5px;">
              <b>SPRING/2018</b>
              </span>
            </div>
          </div>
          <div class="row flexrow justify-content-center no-gutters">
            <div class="col d-flex ">Student Id: 
              <span  style="padding:-5px;">
              <b>{{StudentAASInfoData.studentID}}</b>
              </span>
            </div>
          </div>
          <div class="row flexrow justify-content-center no-gutters">
              <div class="col d-flex ">Student Name: 
                <span  style="padding:-5px;">
                <b>{{StudentAASInfoData.studentName}}</b>
                </span>
              </div>
          </div>
          <div class="row flexrow justify-content-center no-gutters">
              <div class="col d-flex ">Catalog: 
                <span  style="padding:-5px;">
                <b>{{StudentAASInfoData.catalogYear}}</b>
                </span>
              </div>
          </div>
          <div class="row flexrow justify-content-center no-gutters">
              <div class="col d-flex ">Specialization: 
                <span  style="padding:-5px;">
                <b>{{StudentAASInfoData.specialization}}</b>
                </span>
              </div>
          </div>
          <div class="row flexrow justify-content-center no-gutters">
              <div class="col d-flex ">ESL Level:
                <span  style="padding:-5px;">
                <b>{{eslLevel}}</b>
                </span>
              </div>
          </div>
          <div class="row flexrow justify-content-start no-gutters">
            <div class="col d-flex">
              <a href="http://www.saigontech.edu.vn/thoi-khoa-bieu-bang-diem.html" target="_blank" style="font-weight:bold; text-decoration: underline; color:#1441e4">Overall Timetable</a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <div class="input-group row pl-3">
                  <label class="col-form-label text-info text-nowrap" style="font-size: 1rem;margin-bottom: -1rem"><p class="font-weight-bold">Specialization:</p></label>                 
                  <select class="SpecializationSB ml-3" id="Specialization" name="Specialization" style="width:100%;" [(ngModel)]="majorCode" (change)="updateData()">
                    <option *ngFor="let spec of specializationData" [value]="spec.id">{{spec.specializationName}}</option>
                  </select>
                </div>
              </div>
              <div class="text-danger "><p class="font-weight-bold" [innerHtml]="beforeAasRegistration" ></p></div>
        </div>
      </div>
      <hr>
      <!-- __________________________________________ -->
      <div class="row justify-content-start">
            <button class="btn btn-info ml-5" (click)="deleteCourseRegistration()">Delete</button>
      </div>
      <div class="row flexrow justify-content-center no-gutters">
        <h5 class="text-dark font-weight-bold">CLASS(ES) REGISTERED</h5>
      <div class="table-responsive">
        <table id = "classRegistered"s class="table table-hover table-striped table-bordered mt-2">
          <thead>
          <tr align="center" style="height: 32px;" >
            <th width="5%">No</th>
            <th width="5%">Del.</th>
            <th width="10%">Class Code</th>
            <th width="10%">Course Code</th>
            <th width="30%">Course Name</th>
            <th width="10%">#/Max</th>
            <th width="30%">Prerequisiste</th>
            </tr>
          </thead>
            <tbody>
          <tr *ngFor = "let classRegistered of getClassRegisteredData; let i = index" bgcolor="#ffffff">
            <td>{{i+1}}</td>
            <td><input type="checkbox"  [value]="classRegistered.classCode" class="classRegisteredCB"
              (click)="getClassRegisteredCode()">
            </td>
            <td><a (click)="showTimetable(classRegistered.classCode)" style="cursor: pointer">{{classRegistered.classID}}</a></td>
            <td>{{classRegistered.subjectID}}</td>
            <td>{{classRegistered.subjectName}}</td>
            <td>{{classRegistered.numberStudentRegistered}}/{{classRegistered.numberStudentClass}}</td>
            <td>{{classRegistered.courseIDPrerequisite}}</td>
            </tr>
        </tbody>
      </table>
      </div>
      
      </div>

      <div class="row justify-content-start mt-5">
          <button class="btn btn-danger ml-5" (click)="insertCourseRegistration()">Add</button>
    </div>
      <div class="row flexrow justify-content-center no-gutters">
          <h5 class="text-dark font-weight-bold">CLASS(ES) OFFERED</h5>
          <div class="table-responsive">
            <table id = "classOffered" class="table table-hover table-striped table-bordered  mt-2">
              <thead>
              <tr align="center" style="height: 32px;" >
                <th width="5%">No</th>
                <th width="5%">Del.</th>
                <th width="10%">Class Code</th>
                <th width="10%">Course Code</th>
                <th width="30%">Course Name</th>
                <th width="10%">#/Max</th>
                <th width="30%">Prerequisiste</th>
                </tr>
              </thead>
                <tbody>
              <tr *ngFor = "let classOpened of getClassOpenedData; let i = index" bgcolor="#ffffff">
                <td>{{i+1}}</td>
                <td><input type="checkbox"  [value]="classOpened.classCode" class="classOpenCB"
                  (click)="getClassOpenCode()">
                </td>
                <td><a (click)="showTimetable(classOpened.classCode)" style="cursor: pointer">{{classOpened.classID}}</a></td>
                <td>{{classOpened.courseCode}}</td>
                <td>{{classOpened.courseName}}</td>
                <td>{{classOpened.numberStudentRegistered}}/{{classOpened.numberStudentClass}}</td>
                <td>{{classOpened.courseIDPrerequisite}}</td>
                </tr>
            </tbody>
          </table>
          </div>
          
      </div>
      
    
      <!-- __________________________________________ -->
    </div>
  
  </div>
</div>
 <!-- Modal For TimeTable -->
 <div class="modal fade timeTableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full">
      
      <div class="modal-content">
        
          <div class="modal-header">
              <h2 class="modal-title" id="TTBModalLabel">TIMETABLE</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="container">

              <div class="row">
                <div class="col">
                  <p *ngIf="TimetableData != null">
                    <span class="text-info" style="font-size: 1.2rem">
                      <strong>Class: </strong>
                    </span>
                    {{TimetableData.classCode}}
                  </p>
                </div>
                <div class="col">
                    <p *ngIf="TimetableData != null">
                      <span class="text-info" style="font-size: 1.2rem">
                        <strong>Semester / Year: </strong>
                      </span>
                      {{TimetableData.semesterYear}}
                    </p>
                  </div>
              </div>


              <div class="row">
                  <div class="col">
                    <p *ngIf="TimetableData != null">
                      <span class="text-info" style="font-size: 1.2rem">
                        <strong>Course Name: </strong>
                      </span>
                      {{TimetableData.className}}
                    </p>
                  </div>
                  <div class="col">
                      <p *ngIf="TimetableData != null">
                        <span class="text-info" style="font-size: 1.2rem">
                          <strong>Instructor Name: </strong>
                        </span>
                        {{TimetableData.instructorName}}
                      </p>
                    </div>
              </div>              

              <div class="row">
                  <div class="table-responsive"  *ngIf="TimetableData != null">
                    <table class="table-bordered table-striped">
                      <tr  *ngFor="let r of TimetableData.timetableMatrix; let i=index">
                        <ng-container *ngIf = "i==0">
                          <ng-container *ngFor="let c of r; let j = index">
                            <td *ngIf ="j>0" [innerHtml]="c" class="firstTTBRow"></td>
                          </ng-container>
                        </ng-container>

                        <ng-container *ngIf = "i>0">
                          <ng-container *ngFor="let c of r; let j = index">
                            <td *ngIf ="j>0" [innerHtml]="c" class="contentTTBRow"></td>
                          </ng-container>
                        </ng-container>

                      </tr>
                    </table>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--End Modal For TimeTable -->
</div>
